{{#if error}}
    <div class="alert alert-danger">
        {{error}}
    </div>
{{/if}}
{{#if success}}
    <div class="alert alert-success">
        {{success}}
    </div>
{{/if}}
{{#if info}}
    <div class="alert alert-info">
        {{info}}
    </div>
{{/if}}