<div class="jumbotron">
    <h1 class="display-4">PostJot</h1>
    <p class="lead">All of us are story tellers, tell the world yours!</p>
    <div>
        <a href="/posts" class="btn btn-primary">Get Reading</a>
    </div>
</div>

<h3 class="p-3 mb-5 border-bottom">INTRODUCTION</h3>
<p class="text-justify">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla rhoncus, lorem nec imperdiet mollis, ipsum urna ornare velit, quis rutrum mauris felis eleifend justo. Vivamus at maximus lorem, ut consectetur quam. Nunc mi erat, varius non pretium vitae, maximus vitae lacus. Nulla sapien neque, elementum vel augue a, efficitur dictum ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at accumsan eros. Quisque a tortor auctor, porttitor turpis eu, scelerisque purus. Praesent velit velit, tincidunt ac bibendum eu, lacinia sagittis ipsum. In lobortis vel dolor eget egestas. Sed egestas malesuada dui a euismod. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras egestas, elit tincidunt tincidunt suscipit, elit dolor finibus justo, in porttitor quam risus at arcu. Praesent eu arcu vulputate mauris rutrum convallis at nec nibh.
</p>
<p class="text-justify">
    Vestibulum aliquam mollis tellus, a fringilla libero consequat nec. Vestibulum ultrices molestie risus at tincidunt. Nullam cursus orci leo, ut hendrerit nulla ultricies nec. Fusce auctor non nisl id porttitor. Etiam eget porta mi. Mauris posuere tortor et nunc faucibus hendrerit. Aenean in dui tempor, porttitor libero sit amet, malesuada libero. In scelerisque faucibus pretium. Curabitur tempus risus sed placerat pulvinar. Sed tempus ipsum id nisi convallis, quis gravida eros placerat.
</p>